[submodule "SFML_GameEngine"]
	path = SFML_GameEngine
    url = https://github.com/Stephen-Seo/SFML_GameEngine.git
[submodule "EntityComponentMetaSystem"]
	path = EntityComponentMetaSystem
    url = https://github.com/Stephen-Seo/EntityComponentMetaSystem.git
